.App {
    background-image: url("https://img2.akspic.ru/originals/4/1/7/4/14714-tuman-fon-dymka-tekstura-atmosfera-1920x1080.jpg");
    height: 100vw;
    font-family: fantasy;
    font-size: large;
    color: #282c34;
}
